graphqlclient>=0.2.4
matplotlib>=3.4.3
nltk>=3.7
numpy>=1.21.1
pandas>=1.3.1
plotly>=5.6.0
pyarrow>=5.0.0
scikit-learn>=1.1.2
tabulate>=0.9.0
textdistance>=4.2.2
selenium>=4.10.0
webdriver-manager>=3.9.1